@using PCWeb.Models.Name
@{
    ViewData["Title"] = "Linh kiện";
}
@model List<PCComponent>
<h2 class="text-md-center">Linh kiện </h2>
<br />
<form class="row" asp-controller="Laptop" asp-action="Index" asp-area="Admin" method="get">
    <div class="col-sm-2 text-right form-group">
        <label class="col-form-label">
            Tìm kiếm:
        </label>
    </div>
    <div class="form-group col-sm-2">
        <select name="name" class="form-control">
            <option value="all">All</option>
            @*@foreach (var item in ViewBag.Category)
            {
                <option value="@item.LaptopCategoryName">@item.LaptopCategoryName</option>
            }*@
        </select>
        @*<span asp-validation-for="@Model[0].LaptopCategoryId" class="text-danger"></span>*@
    </div>
    <div class="col-sm-6 form-group">
        <input type="text" class="input-width form-control mr-sm-2" name="search" placeholder="Nhập tên linh kiện">
    </div>
    <div class="col-sm-2 form-group">
        <button type="submit" class="btn btn-success">Tìm</button>
    </div>
</form>
<br />
<h3>Số lượng sản phẩm: @Model.Count</h3>
<p><a class="btn btn-primary" asp-controller="Component" asp-action="Add">Thêm</a></p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Linh kiện</th>
            <th>Loại linh kiện</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 1;
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.Product.ProductName</td>
                    <td>@item.ComponentCategory.ComponentCategoryName</td>
                    <td>
                        <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Component" asp-action="Delete" asp-route-id="@item.PCComponentId">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>